@charset "UTF-8";
/* Flat hollow UI Button created by R.Nishaanth Kanna 14DX18  */

a {
    text-decoration: none;
}
.button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #3b5998;
    font-size: 24px;
    font-weight: 300;
    margin: 5em auto;
    position: relative;
    padding: 20px 10px 20px 10px;
    width: 220px;
    height: 30px;
    background: #3b5998;
    border: 1px solid #3b5998;
    color: #FFF;
    overflow: hidden;
    transition: all 0.5s;
}
.button:hover,
.button:active {
    text-decoration: none;
    color: #3b5998;
    border-color: #3b5998;
    background: #FFF;
}
.button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.5s;
}
.button span:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -18px;
    opacity: 0;
    width: 10px;
    height: 10px;
    margin-top: -10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #FFF;
    border-top: none;
    border-right: none;
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    transform: rotate(-45deg);
}
.button:hover span,
.button:active span {
    padding-right: 30px;
}
.button:hover span:after,
.button:active span:after {
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    opacity: 1;
    border-color: #3b5998;
    right: 0;
    top: 50%;
}